{
  "plugins": ["unicorn"],
  "extends": [
    "react-app",
    "standard",
    "standard-jsx",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "unicorn/no-fn-reference-in-iterator": 0,
    "unicorn/catch-error-name": ["error", { "name": "err" }],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-no-bind": 2,
    "react/prefer-stateless-function": 2,
    "react/destructuring-assignment": [2, "always"],
    "react/prop-types": 2,
    "react/forbid-prop-types": 2,
    "react/no-unused-prop-types": 2,
    "react/require-default-props": 2,
    "react/default-props-match-prop-types": 2,
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "class",
          "return": "returns",
          "virtual": "abstract"
        },
        "preferType": {
          "Boolean": "boolean",
          "Number": "number",
          "Object": "object",
          "String": "string"
        },
        "requireReturn": false,
        "requireReturnType": true,
        "matchDescription": ".+",
        "requireParamDescription": true,
        "requireReturnDescription": true
      }
    ],
    "standard/computed-property-even-spacing": 0
  }
}
