{
  "plugins": ["unicorn"],
  "extends": [
    "react-app",
    "standard",
    "standard-jsx",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": [2, "as-needed"],

    "unicorn/no-fn-reference-in-iterator": 0,
    "unicorn/catch-error-name": [2, { "name": "err" }],

    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/no-named-as-default": 2,
    "import/no-named-as-default-member": 2,
    "import/no-extraneous-dependencies": 2,
    "import/newline-after-import": 2,
    "import/no-named-default": 2,
    "import/order": [
      2,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],

    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js"]
      }
    ],
    "react/jsx-no-bind": 2,

    "react/prefer-stateless-function": 2,
    "react/destructuring-assignment": [2, "always"],
    "react/prop-types": 2,
    "react/forbid-prop-types": 2,
    "react/no-unused-prop-types": 2,
    "react/require-default-props": 2,
    "react/default-props-match-prop-types": 2,

    "require-jsdoc": [
      2,
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ],
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "class": "class",
          "return": "returns",
          "virtual": "abstract"
        },
        "preferType": {
          "Boolean": "boolean",
          "Number": "number",
          "Object": "object",
          "String": "string"
        },
        "requireReturn": false,
        "requireReturnType": true,
        "matchDescription": ".+",
        "requireParamDescription": true,
        "requireReturnDescription": true
      }
    ],

    "standard/computed-property-even-spacing": 0
  }
}
