# See https://help.github.com/ignore-files/ for more about ignoring files.

# Environment Variables
/.env

# Dependencies
/node_modules/

# Styles
/src/**/*.css

# Testing
/coverage/

# Documentation
/docs/

# Production
/build/

# Logs
/yarn-debug.log*
/yarn-error.log*

# Editors
/.vscode/
/.idea/*

# Misc
/.DS_Store
