{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["./dist/**", "./node_modules/**"],
  "plugins": ["stylelint-order", "stylelint-selector-bem-pattern"],
  "rules": {
    "selector-list-comma-newline-after": "always-multi-line",
    "order/order": ["custom-properties", "declarations"],
    "order/properties-alphabetical-order": true,
    "plugin/selector-bem-pattern": {
      "componentName": "^[A-Z][A-Za-z]+$",
      "componentSelectors": {
        "initial":
          "^(.{componentName}(-{1,2}[a-z][A-Za-z]+)*|&)(.is-[a-z][A-Za-z]+)?$",
        "combined":
          "^(.{componentName}(-{1,2}[a-z][A-Za-z]+)*|&)(.is-[a-z][A-Za-z]+)?$"
      },
      "utilitySelectors": "^\\.util-[A-Za-z]+$"
    }
  }
}
