@import '../../styles/_colors.scss';

/* @define Button */
.Button {
  // stylelint-disable-next-line declaration-colon-newline-after
  background: linear-gradient(
    0deg,
    $buttonGradientStart 0%,
    $buttonGradientEnd 100%
  );
  border-radius: 4px;
  box-shadow: 0 1px 0 0 $buttonBoxShadow;
  color: $buttonText;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  min-width: 200px;
  padding: 0 20px;
  text-align: center;

  &-label {
    font-weight: 500;
    line-height: 50px;
    margin: 0;
  }
}
